### Observable Trends:
* Males seem to be the majority of the players compared to females and other/non-disclosed as Males consist of roughly 84% of the majority and the remaining female/other-nondisclosed consist of 16%.
* Although Male consist of the majority of the players, the average purchase price for the items for other/non-disclosed was higher (3.35) than male and female groups (3.02 and 3.20 respectively).
* Majority of the people who bought the items were in the range 15-29 (young teenagers to young adults: 76.74% total makeup) and the percentages decrease significantly in higher age groups ().

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [97]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store int`o Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [98]:
#Used the unique() function to rid of the repeated 'SN'.
#Stored into a Dataframe so I can use the count() function for later.
Total_Players = pd.DataFrame(purchase_data["SN"].unique())

#Used the count() function to get a total count of the players. 
#Assigned necessary 'key'/'value' pair to return final Dataframe output
Total_Players = pd.DataFrame({"Total Players": Total_Players.count()})

Total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
#Got the unique items by using unique() for the Item Names.
UniqueItems = purchase_data["Item Name"].unique()

#Stored UniqueItems into Dataframe so I can perform the count functions and get final result.
NumUniqueItems = pd.DataFrame(UniqueItems).count()

#Used mean() function to calculate Avgerage Price under Price Column.
AvgPrice = purchase_data["Price"].mean()

#Used count function to give the total count of Purchases by using the Purchase ID's column
#since every purchase had a Purchase ID.
NumPurch = purchase_data["Purchase ID"].count()

#Total Revenue was calculated by using the sum() function of all the values under the Price Columns.
TotRev = purchase_data["Price"].sum()

#Finally I stored all my variables as as 'values' in the dictionary with its corresponding 'key' title
#then stored that into a Dataframe and outputted with the desired format.
Purchasing_Analysis_Total = pd.DataFrame({"Number of Unique Items": NumUniqueItems, 
                   "Average Price": f"${AvgPrice.round(2)}",
                   "Number of Purchases": NumPurch,
                   "Total Revenue": "${:,.2f}".format(TotRev)
                  })

Purchasing_Analysis_Total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [100]:
#Used the groupby() function for 'SN' and 'Gender' as those are the two primary things being delt with.
#Assigned it to Condensed so I can manipulate the data further.
Condensed = purchase_data.groupby(['SN','Gender']).count().reset_index()

#Found the count of  of the Condensed 'SN' to rid of repeated 'SN'
Total= Condensed["SN"].count()

#Found the Total Count of each based on 3 Gender categories.
Gender_Count = Condensed["Gender"].value_counts()

#Displayed percentage makeup of each, relative to all individuals and divided by Total to get percentage.
Percentage_of_Players = Gender_Count/ Total * 100

#Put all the variables into Dataframe accordingly by using dictionary.
Gender_Demographics = pd.DataFrame({"Total Count": Gender_Count,
                          "Percentage of Players": Percentage_of_Players}
                         ,index = ["Male", "Female", "Other / Non-Disclosed"])

#Formatted for 'Percentage of Players' to have percentage sign and rounded two decimal places.
Gender_Demographics = Gender_Demographics.style.format({"Percentage of Players": "{0:.2f}%"})

Gender_Demographics


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [101]:
#Gathered columnns for original dataframe that are going to be used to manipulate and assigned to df.
df = purchase_data[["SN","Gender","Price","Purchase ID"]]

#groupby() Gender to find corresponding values for each
df = df.groupby(["Gender"])

#Calculated each columns value by accessing the df's Purchase ID and Price and used a function to find count and Avg Price.
#Multiplied the resulting variables to get Total Purcahse Value.
Purchase_Count = df["Purchase ID"].count()
Average_Purchase_Price = df["Price"].mean().round(2)
Total_Purchase_Value = Average_Purchase_Price * Purchase_Count

#Calculations for 'Average Total Purchase Per Person column' by finding the sum of 
#the price column and dividing by gender count in previous example.
Average_Total_Purchase = df["Price"].sum()
Avg_Total_Purch_Per_Person = Average_Total_Purchase / Gender_Count

#Put all the variables into corresponding Dataframe.
df = pd.DataFrame({"Purchase Count": Purchase_Count,
              "Average Purchase Price": Average_Purchase_Price,
              "Total Purchase Value":Total_Purchase_Value,
              "Average Total Purchase Per Person": Avg_Total_Purch_Per_Person})

#Formatted the variables for each column to have a dollar sign.
df = df.style.format({"Average Purchase Price": "${0:.2f}", 
                 "Total Purchase Value": "${0:.2f}", 
                 "Average Total Purchase Per Person": "${0:.2f}"})

df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [108]:
#groupby() for 'SN' and 'Age' for further manipulation.
purchase_data_groupby = purchase_data.groupby(['SN','Age']).count().reset_index()

#Total receives the total count of 'SN' including the repeated.
Total = purchase_data_groupby["SN"].count()

#Used binning to create my corresponding ranges to filter.
bins = [0,9,14,19,24,29,34,39,200]

#groups list used for labeling in the pd.cut function for the index to correspond with bins.
groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#used pd.cut function to filter the 'Age' based on given bins and did a value count to keep tally of individual range by age.
Purchasing_Age= pd.cut(purchase_data_groupby['Age'], bins, labels = groups, include_lowest = True).value_counts()

#Created Dataframe and added following variables: Purchasing_Age and Percentage_of_Players.
Purchasing_Demographics = pd.DataFrame({"Total Count":Purchasing_Age}).sort_index()
Percentage_of_Players = Purchasing_Age/ Total * 100
Purchasing_Demographics["Percentage of Players"] = Percentage_of_Players.round(2)

#Used formatting to add the percentage sign at end of each 'Percentage of Players' column values.
Purchasing_Demographics = Purchasing_Demographics.style.format({"Percentage of Players": "{0:.2f}%"})

Purchasing_Demographics

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
# Original Dataframe copied to new dataframe to manipulate later.
df = purchase_data
df.head(1)

#Assigning the age column to age range by doing a pd cut using the given bins from previous example.
#This is to list what range each individual belongs in so later can do a count.
df['Age Range'] = pd.cut(df.Age, bins=bins,labels=groups)
df.head(1)

#Grouped the dataframe by age range and did a value count to get a count for each category 
#and assigned them into their appropriate range category index.
df_groupby = df.groupby('Age Range')
ageCount = df['Age Range'].value_counts()

#Created Dataframe to store and also grouping prices and using pandas functions to calculate the desired outcomes.
Purchasing_Analysis_Age = pd.DataFrame({'Purchase Count':df_groupby.SN.count(),
              'Average Purchase Price':df_groupby.Price.mean(),
              'Total Purchase Value':df_groupby.Price.sum(),
              'Average Total Purchase Per Person':df_groupby.Price.sum()/ Purchasing_Age})

#Used formatting function to add dollar sign in front of each of the 3 columns values.
Purchasing_Analysis_Age = Purchasing_Analysis_Age.style.format({"Average Purchase Price": "${0:.2f}", 
                                                                "Total Purchase Value": "${0:.2f}", 
                                                                "Average Total Purchase Per Person": "${0:.2f}"})

Purchasing_Analysis_Age

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [86]:
#Filtered necessary columns to manipulate further and assigned to df.
df = purchase_data[["SN","Item ID", "Item Name", "Price"]]

#groupby() for 'SN' as this will be the index.
df_groupby = df.groupby(["SN"])

#Used each Dataframe and filtered each column to compute the following variables.
Purchase_Count = df_groupby["SN"].count()
Average_Purchase_Price = df_groupby["Price"].mean().round(2)
Total_Purchase_Value = df_groupby["Price"].sum()

#Stored the variables results in the Dataframe using dictionary.
df = pd.DataFrame({"Purchase Count": Purchase_Count,
                  "Average Purchase Price": Average_Purchase_Price, 
                  "Total Purchase Value":Total_Purchase_Value}).sort_values(by = "Total Purchase Value",
                                                                            ascending = False)

#Formatted two of the columns to display the dollar sign to denote as currency.
df = df.head().style.format({"Average Purchase Price": "${0:.2f}", 
                 "Total Purchase Value": "${0:.2f}"})
df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [87]:
#Filtered the original Dataframe with certain columns and stored into new df.
#Used group() for two columns and set as index.
df = purchase_data[["SN","Item ID", "Item Name", "Price"]]
df = df.groupby(["Item ID", "Item Name"])

#Calculated the following values using pandas functions and stored into a varaible.
Purchase_Count = df["SN"].count()
Average_Purchase_Price = df["Price"].mean().round(2)
Total_Purchase_Value = df["Price"].sum()

#Created new Dataframe and stored values using a dictionary.
#Also sorted the values by the column 'Purchase Count' and used the ascending parameter to list in descending order.
df = pd.DataFrame({"Purchase Count": Purchase_Count,
                  "Average Purchase Price": Average_Purchase_Price, 
                  "Total Purchase Value":Total_Purchase_Value}).sort_values(by = "Purchase Count",ascending = False)

#Used formatting to add dollar sign and denote currency for the last two columns.
df = df.head().style.format({"Average Purchase Price": "${0:.2f}", 
                 "Total Purchase Value": "${0:.2f}"})
df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [88]:
#Copied the previouse dictionary Dataframe from previous problem rather than 
#assign to variable and call to avoid any sorting issues. 
#This time I sorted by 'Total Purchase Value' to get descending order from Highest to lowest.
df = pd.DataFrame({"Purchase Count": Purchase_Count,
                   "Average Purchase Price": Average_Purchase_Price, 
                   "Total Purchase Value":Total_Purchase_Value}).sort_values(by="Total Purchase Value", 
                                                          ascending = False)


#Used formatting to add dollar sign and denote currency for the last two columns.
df = df.head().style.format({"Average Purchase Price": "${0:.2f}", 
                 "Total Purchase Value": "${0:.2f}"})

df